.createProductForm{
    width: 100%;
    display: flex;
    column-gap: 20px;
}
.createProductFormLeft,.createProductFormRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.createProductInputGroup{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.createProductInputGroup >label {
    color: rgb(144, 144, 144);
    font-weight: bold;
}
.createProductInput{
    border:2px solid rgb(146, 146, 146);
    padding: 15px;
    color: rgb(146, 146, 146);
    border-radius: 6px;
    font-weight: bold;
    font-size: 17px;
}
.createProductButtonSubmit{
    width: 200px;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    background-color: teal
}